<p>teachers-pending works!</p>


<div class="container">
  <div class="row">
    <div *ngFor="let pTeach of teacherPendingData" class="col-md-4" style="height: 550px;"> 
      <div  class="mat-card mt-3 " style="background-color: var(--bgHeader);width: 20rem;color: var(--title); box-shadow:0px 0px 10px gray; border-radius: 10px;height:480px;text-align: center;padding: 0px 5px;">
        <img style="width: 100%; max-height: 200px;border-radius: 12px;padding-top: 5px;" mat-card-image src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="...">
        <div class="mat-card-content">
          <h5 class="mat-card-title mt-2">{{pTeach.firstName}}</h5>
          <p style="min-height: 68px;" class="mat-card-subtitle">{{pTeach.aboutMe}}</p>
        </div>
        <ul class="mat-list-group" >
          <li class="mat-list-item" >{{pTeach.lastName}}</li>
          <li class="mat-list-item" >{{pTeach.email}}</li>
          <li class="mat-list-item">{{pTeach.phoneNumber}}</li>
        </ul>
        <div>
        <div class="mat-card-actions d-flex" style="justify-content: space-between;">
          <button type="button" (click)="Approve(pTeach.id)" class="btn btn-custom custom-button disk btn-gradient ms-3"><i class="fa-solid fa-person-walking-arrow-right"></i>قبول المدرس</button>
          <button type="button" (click)="Reject(pTeach.id)" class="btn btn-custom custom-button disk btn-gradient"><i class="fa-regular fa-comment"></i> اضافة تعليق</button>
        </div>
        <div class="mt-2 d-flex" style="justify-content: space-between;" *ngIf="addcomment===pTeach.id">
          <input #InfoInp type="text" style="width: 250px;" >
          <button type="button" (click)="sendInfo(pTeach.id, InfoInp.value)" class="custom-button disk btn-gradient"><i class="fa-solid fa-paper-plane"></i>ارسال</button>
        </div>
        </div>
       </div>
    </div>
    
  </div>

</div>