<div>
  <app-header [inputSideBar]="sideNav"></app-header>

  <mat-sidenav-container>
    <mat-sidenav *ngIf="role === 'Admin'" class="mat-sidenav" position="end" #sideNav mode="side" opened>
      <app-side-bar></app-side-bar>
    </mat-sidenav>

    <mat-sidenav-content *ngIf="role === 'Admin'">
      <div class="mainContent">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<div *ngIf="role !== 'Admin'">
  <app-login></app-login>
</div>
