<div class="p-2">
  <div class="flex flex-column">
    <button mat-button routerLink="/" class="simple-text logo-mini mx-auto w-100">
      EduNex
    </button>
  </div>

  <hr>

  <div class="d-flex flex-column gap-3 navigation-buttons">
    <button mat-button routerLink="/teachers" routerLinkActive="active"><i class="fas fa-user-graduate"></i>
      المدرسين</button>
    <button mat-button routerLink="/students" routerLinkActive="active"><i class="fas fa-user-friends"></i>
      الطلاب</button>
    <button mat-button routerLink="/courses" routerLinkActive="active"><i class="fas fa-book"></i> الكورسات</button>

    <button mat-button routerLink="teachers/pending" routerLinkActive="active"><i class="fas fa-user-graduate"></i>
      المدرسين الجدد </button>
  </div>

</div>
